@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Open+Sans|Poppins|Source+Sans+Pro&display=swap');

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

div.header {
	background: url("bgimage.jpg") no-repeat center center fixed; webkit-background-size: cover; moz-background-size: cover; o-background-size: cover; background-size: cover;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10vw;
	padding-bottom: 10vw;
	text-align: center;
	font-family: Poppins;
	background-size: 100%;
	background-attachment: fixed;
	background-position: right bottom;
	color: white;
	text-shadow: 1px 2px 3px black;
	position: fixed;
	top: 0px;
	bottom: 0px;
	height: 100vh;
	width: 100vw;
}

h0 {
	font-size: 20px;
}

h1 {
	font-size: 50px;
}
<<<<<<< HEAD

a {
	color: white;
	text-decoration: underline;
}
=======
>>>>>>> 2c4a011c196ad46de624b05a8af23c9a6f4e86a4
