@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Open+Sans|Poppins|Source+Sans+Pro&display=swap');

body {
	background: url("bgimage.jpg") no-repeat center center fixed;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10vw;
    padding-bottom: 10vw;
    text-align: center;
    font-family: Poppins;
    background-size: 100%;
    background-attachment: fixed;
    background-position: right bottom;
    color: white;
    text-shadow: 1px 2px 3px black;
}
div.header {
}

h0 {
    font-size: 20px;
    animation: header0-animation 1.5s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 50px;
    animation: header1-animation 1.5s;
    animation-fill-mode: forwards;
}

a.jdemeNaTo {
    color: white;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 10px;
    text-shadow: none;
    box-shadow: 10px 20px 50px gray;
    margin-right: 10px;
    animation: header0-animation 1.5s;
    animation-fill-mode: forwards;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	border: 2px solid dodgerblue;
}

a.viceInfo {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    text-shadow: none;
    box-shadow: 10px 20px 50px gray;
    border: 2px solid dodgerblue;
    animation: header0-animation 1.5s;
    animation-fill-mode: forwards;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

a.viceInfo:hover {
    background-color: dodgerblue;
	color: white;
	
}

a.jdemeNaTo:hover {
    background-color: white;
	border: 2px solid dodgerblue;
	color: black;
}

div.pomlcka {
    color: white;
    font-size: 100px;
	opacity: 0;
}

p.ver {
	color: white;
	font-family: Calibri;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9998;
	padding: 10px;
	background-color: black;
		-webkit-transition-duration: 1s;
	/* Safari */
	transition-duration: 1s;
}

iframe {
	height: 100vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	position: fixed;
	top: 100vh;
	left: 0px;
	-webkit-transition-duration: 1s;
	/* Safari */
	transition-duration: 1s;
	background-color: black;
}

button.x {
	width: 110px;
	height: 50px;
	-webkit-transition-duration: 1s;
	/* Safari */
	transition-duration: 1s;
	cursor: pointer;
	border: 2px solid dodgerblue;
	color: white;
	background-color: dodgerblue;
	position: fixed;
	bottom: -60px;
	margin-left: -55px;
	left: 50%;
}

button.x:hover {
    background-color: white;
	border: 2px solid dodgerblue;
	color: black;
}

@keyframes header1-animation {
    0% {
        opacity: 0;
        padding-top: 5vw;
        padding-bottom: 2vw;
    }

    100% {
        opacity: 1;
        padding-top: 0vw;
        padding-bottom: 0vw;
    }
}

@keyframes header0-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes button-animation {
    0% {
        background-color: white;
    }

    100% {
        background-color: aliceblue;
    }
}
