html {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: Roboto, Sans-Serif, "Poppins", Arial, Calibri, "Times New Roman";
  color: black;
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: dodgerblue;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 0px;
  background-color: royalblue;
}

::selection {
  background: dodgerblue;
  color: white;
}

::-moz-selection {
  background: dodgerblue;
  color: white;
}

div.navbar-container {
  position: fixed;
  top: 0px;
  left: -270px;
  height: 100%;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  width: 256px;
  background-color: white;
  z-index: 11;
  box-shadow: grey 0px 2px 20px;
}

div.main {
  position: absolute;
  left: 0px;
  top: 64px;
  margin: 0px;
  padding: 20px;
  width: calc(100% - 40px);
}

header.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: grey 0px 2px 20px;
}

div.main-card {
  width: 300px;
  height: 3000px;
  margin: 0px auto;
  border: 1px dotted black;
}

iframe.start {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
  width: 100%;
  border: none;
  height: 100%;
  opacity: 0;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.hidden {
  display: none;
}

div.main-box {
  width: 842px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.main-fullscreen {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 64px);
}

div.main-box nadpis {
  font-weight: 200;
  text-indent: 0.7rem;
  letter-spacing: 0.7rem;
  font-size: 3rem;
  line-height: 1.167;
  margin-bottom: 0.35em;
}

div.main-box podnadpis {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  padding-top: 100px;
}

infopruh {
  position: fixed;
  color: rgba(255, 255, 255, 0);
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 30px;
  text-align: left;
  bottom: -80px;
  padding-top: 16px;
  padding-left: 100px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

info {
  position: absolute;
}

infopruh:hover {
  height: 80px;
  color: black;
}

infonadpis {
  font-size: 20px;
  font-weight: 200;
  text-indent: 0.7rem;
  letter-spacing: 0.7rem;
  line-height: 1.167;
  color: dodgerblue;
  padding-right: 50px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

infopruh:hover infonadpis {
  font-size: 4rem;
}

div.main-box podnadpis2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.5);
}

div.main-box div.right {
  width: 612px;
  margin: 0px;
  float: left;
  color: dodgerblue;
  margin-left: 30px;
}

div.main-box img {
  width: 200px;
  height: 200px;
  float: left;
  margin: 2px 0px;
}

.main-maxheight {
  height: calc(100% - 104px);
}

h1.big {
  font-size: 100px;
}

.lightgrey {
  color: lightgrey;
}

.centertext {
  text-align: center;
}

div.glitchButton {
  position: fixed;
  top: 9.29px;
  right: 9.29px;
  z-index: 99;
  border-radius: 5px;
}

.mdc-list {
  padding: 0px;
}

.mdc-drawer .mdc-list-item {
  border-radius: 0px;
  margin: 0px;
  padding: 2px 16px;
}

.btn-back {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

div.navig-bg {
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(61, 61, 61, 0.5);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

@media (max-width: 599px) {
  div.main {
    top: 56px;
  }
  .main-maxheight {
    height: calc(100% - 96px);
  }
}

@media (max-width: 850px) {
  div.main-box img {
    height: 120px;
    width: 120px;
    display: none;
  }
  div.main-box div.right {
    width: calc(100% - 40px);
    margin: 0px;
    margin-left: 0px;
    text-align: center;
    padding: 0px 20px;
  }
  div.main-box {
    width: 100%;
    text-align: center;
  }
}
