@import "my-theme.css"; 

html {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: Roboto, Sans-Serif, "Poppins", Arial, Calibri, "Times New Roman";
  color: black;
  height: 100%;
  /* background-color: #fafafa; */
  background: url("bgimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dodgerblue;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

.youtube {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: dodgerblue;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 0px;
  background-color: royalblue;
}

::selection {
  background: dodgerblue;
  color: white;
}

::-moz-selection {
  background: dodgerblue;
  color: white;
}

div.navbar-container {
  position: fixed;
  top: 0px;
  left: -270px;
  height: 100%;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  width: 256px;
  background-color: white;
  z-index: 11;
  box-shadow: grey 0px 2px 20px;
}

div.main {
  position: absolute;
  left: 0px;
  top: 64px;
  margin: 0px;
  padding: 20px;
  width: calc(100% - 40px);
}

header.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: grey 0px 2px 20px;
  background-color: rgba(61, 61, 61, 0.5);
  z-index: 8;
}

div.main-card {
  width: 300px;
  height: 3000px;
  margin: 0px auto;
  border: 1px dotted black;
}

iframe.start {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
  width: 100%;
  border: none;
  height: 100%;
  opacity: 0;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.hidden {
  display: none;
}

div.main-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  background-color: rgba(61, 61, 61, 0.5);
  width: calc(100% - 70px); /* Matěji opovaž se toto změnit už jsi to jednou rozbil! */
  text-align: center;
  max-width: 500px;
}

div.main-fullscreen {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 64px);
}

div.main-box nadpis {
  font-weight: 500;
  text-indent: 0.7rem;
  letter-spacing: 0.7rem;
  font-size: 3rem;
  line-height: 1.167;
  margin-bottom: 0.35em;
  color: white;
}

div.main-box podnadpis {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  padding-top: 100px;
  color: white;
}

infopruh {
  position: fixed;
  color: rgba(255, 255, 255, 0);
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 30px;
  text-align: left;
  bottom: -80px;
  padding-top: 16px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

info {
  position: absolute;
  top: 65px;
  left: 16px;
  width: calc(100% - 32px);
  text-align: center;
  max-heigth: 135px;
  overflow: hidden;
}

infopruh:hover {
  height: 200px;
  color: black;
}

infonadpis {
  font-size: 20px;
  font-weight: 200;
  text-indent: 0.7rem;
  letter-spacing: 0.7rem;
  line-height: 1.167;
  color: dodgerblue;
  position: absolute;
  left: 0px;
  top: 16px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

infopruh:hover infonadpis {
  font-size: 30px;
  opacity: 1;
}

.btn-back {
  position: fixed;
  left: 20px;
  bottom: 20px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

infopruh:hover .btn-back {
  bottom: 190px;
}

div.main-box podnadpis2 {;
  font-weight: 400;
  font-size: 1.1rem
  line-height: 1.334;
  letter-spacing: 0em;
  color: rgb(127.5, 127.5, 127.5);
}

div.main-box podnadpis2 a {
  color: rgb(127.5, 127.5, 127.5);
  text-decoration: none;
}

div.main-box podnadpis2:hover a {
  color: rgb(127.5, 127.5, 127.5);
  text-decoration: underline;
}

/* div.main-box .mdc-button {
  color: white;
  border-color: white;
} */

.main-maxheight {
  height: calc(100% - 104px);
}

h1.big {
  font-size: 100px;
}

.lightgrey {
  color: lightgrey;
}

.centertext {
  text-align: center;
}

div.glitchButton {
  position: fixed;
  top: 9.29px;
  right: 9.29px;
  z-index: 99;
  border-radius: 5px;
}

/* .mdc-list {
  padding: 0px;
}

.mdc-drawer .mdc-list-item {
  border-radius: 0px;
  margin: 0px;
  padding: 2px 16px;
} */

div.navig-bg {
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(61, 61, 61, 0.5);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

@media (max-width: 599px) {
  div.main {
    top: 56px;
  }
  .main-maxheight {
    height: calc(100% - 96px);
  }
}
