::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
::-webkit-scrollbar-track {
    background-color: #cccccc;
}
 
::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
}

::-webkit-scrollbar-thumb:active {
    background-color: royalblue;
}