@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap");
@import url("https://fontlibrary.org/face/minecraftia");

.mdc-ripple-surface::before {
  display: none !important;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding-top: 100vh;
  padding-bottom: 30px;
  background-color: rgb(61, 61, 61);
  user-select: none;
  font-family: Roboto;
}

.noscroll {
  overflow: hidden !important;
}

.welcome-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-image: url("https://cdn.glitch.com/1734468b-6731-4d78-ab31-25506566ea87%2Fdownload.jpg?v=1580315921692");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  color: white;
  width: 100%;
  font-size: 2rem;
  line-height: 3.125rem;
  font-weight: 400;
}

.header p {
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.header .maxwidth {
  max-width: 750px;
  margin: 0 auto;
}


.content {
  padding-top: 100px;
  width: 100%;
}

.big-icon {
  font-size: 100px;
  margin: 10px;
}

.cards-start {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  flex-wrap: wrap;
}

.card-start {
  width: calc(33.33% - 20px);
  max-width: 385px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.alternative-content .icon-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.alternative-content .icon-button {
  transition: background 0.5s;
}

.alternative-content {
  display: none;
}

.alternative-content .icon-button {
  position: fixed;
  font-size: 80px;
  padding: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
  transition: padding 0.5s, background 0.5s;
  transition-timing-function: cubic-bezier(0, 0.5, 0, 1);
}

.alternative-content .icon-button:hover {
  padding-left: 10px;
  padding-right: 30px;
}

.alternative-content iframe {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: none;
}

.alternative-content iframe,
.welcome-screen {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

.alternative-content iframe {
  animation-name: margin-animation;
}

.big-header {
  text-transform: uppercase;
}

@keyframes margin-animation {
  from {
    margin-top: 200px;
    opacity: 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.content .mdc-card {
  padding: 20px;
  max-width: 500px;
  margin: 20px;
}

.content .mdc-card.header {
  color: black;
}

.main-header {
  position: relative;
}

.main-header .yellow {
  color: yellow;
   font-weight: normal;
   font-style: normal; 
  animation: minecraft 1s infinite;
  position: absolute;
  top: -25%;
  left: 60%;
  transform: rotate(25deg);
}

@keyframes minecraft {
  0% {
    transform: scale(1, 1) rotate(25deg);
  }
  50% {
    transform: scale(1.1, 1.1) rotate(25deg);
  }
  100% {
    transform: scale(1, 1) rotate(25deg);
  }
}

@media (max-width: 600px) {
  .main-header {
    display: none;
  }
  .cards-start {
    height: 100%;
  }
  .card-start {
    height: calc(50% - 20px);
    width: 100%;
  }
  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 2rem;
  }
}
