@import url("https://fonts.googleapis.com/css?family=Product+Sans|Roboto:300,400,500,600&display=swap");

/* Track */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  background-color: rgb(61, 61, 61);
  background: url("https://cdn.glitch.com/1734468b-6731-4d78-ab31-25506566ea87%2Fdownload.jpg?v=1580315921692")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Product Sans", Roboto;
}

.noscroll {
  overflow: hidden !important;
}

.index-window {
  height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
}

.index-window .text-wrap {
  text-align: center;
  font-family: "Product Sans";
}

.index-window .btn-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.nadpis {
  position: relative;
  font-family: "Product Sans";
}

.nadpis::after {
  content: "Nyní s více IQ v prášku!";
  position: absolute;
  top: -50px;
  right: -50px;
  color: yellow;
  font-size: 20px;
  transform: rotate(25deg);
  animation-name: minecraft;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes minecraft {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(25deg) scale(1.1);
  }
  100% {
    transform: rotate(25deg);
  }
}

.section-cont {
  width: 100%;
  display: block;
}

.sec2 {
  background-image: linear-gradient(
    109.6deg,
    rgba(90, 209, 243, 1) 11.2%,
    rgba(254, 135, 245, 1) 91.1%
  );
}

.sec1 {
  background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
}

section {
  width: calc(100% - 40px);
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

.third-cont {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.third-cont .third {
  margin: 10px;
  width: calc(33.3% - 40px);
  color: black;
  padding: 10px;
  min-width: 300px;
  transition: transform 0.4s;
}

.third {
  cursor: pointer;
}

.third-cont .third .icon-big {
  text-align: center;
  font-size: 50px;
}

.third-cont .third:hover {
  transform: scale(1.1, 1.1);
}

.center {
  text-align: center;
}

.prohlidka {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}

.prohlidka iframe {
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.prohlidka .btn-close {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
