@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Open+Sans|Poppins|Source+Sans+Pro&display=swap');

body {
    color: white;
    font-family: "Lora", Calibri, sans-serif;
    margin: 0px;
    background-color: black;
}
iframe {
    height: 100vh;
    width: 100vw;
    animation: iframe-control-animation 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
/* div.square {
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;
    text-align: center;
    animation: square-animation 2s;
    height: 60vh;
}*/
div.arrowdiv {
    animation: iframe-control-animation 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    float: right;
    width: 260px;
    text-align: center;
    margin-bottom: 1px;
    opacity: 0;
    position: fixed;
    right: 0px;
    border-left: solid 1px blue;
    vertical-align: central;
}
div.info {
    animation: iframe-control-animation 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    padding-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: 70vw;
    height: 140px;
    text-align: left;
    opacity: 0;
    font-size: 20px;
    vertical-align: middle;
}
div.info h1 {
    font-size: 50px;
    font-family: "Poppins", Calibri, sans-serif;
    border-left: 4px solid blue;
    padding-left: 20px;
    margin-top: 50px;
    animation: info-content-animation 0.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
div.strip {
    animation: strip-animation 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: 100vw;
    height: 25vh;
    text-align: center;
    vertical-align: central;
    bottom: 40px;
    right: 0px;
    position: fixed;
    background-color: rgba(61,61,61,.5);
}
a.arrow, a.arrow-unaviable, a.space {
    text-decoration: none;
    font-size: 40px;
    padding: 10px;
    font-family: "Calibri Light", sans-serif;

}
a.space {
    opacity: 0;
}
a.arrow {
    color: white;
    animation: arrows-unhover 0.5s;
}
a.arrow-unaviable {
    color: gray;
}
a.arrow:hover {
    animation: arrows-hover 0.5s;
    animation-fill-mode: forwards;
}
a.button-more-info:hover {
    animation: button-hover 0.5s;
    animation-fill-mode: forwards;
}
a.button-more-info {
    animation: button-unhover 0.5s;
    background-color: dodgerblue;
    text-align: right;
    vertical-align: middle;
    position: fixed;
    right: 300px;
    bottom: 12.5vh;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: "Josefin Sans", Calibri, sans-serif;
}


@media (max-width: 800px) {
    div.info {
        opacity: 0;
        height: 0px;
        animation: none;
        display: none;
    }
    div.arrowdiv {
        right: initial;
    }
    div.strip {
        text-align: center;
    }
}


@keyframes iframe-control-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrows-hover {
    0% {
        color: white;
    }

    100% {
        color: dodgerblue;
        font-size: 45px;
    }
}

@keyframes arrows-unhover {
    0% {
        color: dodgerblue;
        font-size: 45px
    }

    100% {
        color: white;
    }
}

@keyframes strip-animation {
    0% {
        height: 0vh;
    }

    100% {
        height: 25vh;
    }
}
@keyframes button-hover {
    100% {
        background-color: royalblue;
    }
}
@keyframes button-unhover {
    100% {
        background-color: dodgerblue;
    }
}
@keyframes info-content-animation {
    100% {
        margin-top: 10px;
    }
}
