button {
	background-color: #a6a6a6;
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.arrow {
	font-size: 30px;
}

button:hover {
	background-color: #808080;
}

img {
}

iframe {
	border: none;
	background-color: #fff;
}

body {
	max-width: auto;
	margin: 5em;
	padding: 50px;
	background-color: #fff;
}

input {
	border: none;
	color: black;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	background-color: #eee;
}

.indexbody {
	padding: 0px;
	background-color: none;
	box-shadow: none;
	background-color: transparent;
}

.subbody {
	margin: 0em;
	border-radius: 0em;
	box-shadow: none;
	padding: 0px;
}

html {
	background: url("bgimage.png") no-repeat center center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
	padding-top: none;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	font-family: "Nunito", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	text-align: center;
}

.nohtmlstyle {

	padding-top: none;
	padding-left: none;
	padding-right: none;
	padding-bottom: none;
	background: url("about:blank");
	background: color(white)
}

.nohtmlstyle div{
	border: 2px solid black;
}
div {
	max-width: auto;
	margin: 5em auto;
	padding: 50px;
	background-color: #fff;
}

.nohtmlstyle .arrowdiv {
	float: right;
}

.arrowdiv {
	max-width: 300px;
}

.reddiv {
    max-width: 300px;
	background-color: #ffcccc;
}

.greendiv {
    max-width: 300px;
	background-color: #ccffcc;
}

a:link,
a:visited {
	color: #38488f;
	text-decoration: none;
}

a:link {
	color: #f0f0f2;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #f0f0f2;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #f0f0f0;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
<<<<<<< HEAD
	color: #f0f0f2;
	background-color: transparent;
	text-decoration: underline;
}

.navbar {
	width: 100%;
	min-height: 65px;
	background-color: grey;
	list-style-type: none;
	overflow: hidden;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar button {
	height: 65px;
	background-color: grey;
	border: none;
	text-align: center;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 5px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	color: white;
	float: left;
	display: inline-block;
	width: 25%;
	min-width: 150px;
}

.navbar button:hover {
	background-color: #bfbfbf;
	color: white;
}

@media (max-width: 683px) {
	.navbar button {
		float: none;
	}
}

@media (max-width: 449px) {
	.navbar button {
		width: 100%;
	}
}
@media (max-width: 875px) {
	html {
		padding-top: none;
		padding-left: none;
		padding-right: none;
		padding-bottom: none;
		background: url("about:blank");
		background: color(white)
	}
	body {
		margin: 0em;
		padding: 0px;
	}
}

.panoraven {
	display: block;
	margin: 20px auto;
	border: 0 none;
	width: 60%;
	float: left;
}

@media (max-width: 1015px) {
	.panoraven {
		width: 40%;
	}
}

@media (max-width: 700px) {
	.panoraven {
		width: 30%;
	}
}

@media (max-width: 500px) {
	.panoraven {
		width: 10%;
	}
}
=======
    color: #f0f0f2;
    background-color: transparent;
    text-decoration: underline;
}
>>>>>>> 2d0dd085b752741bd4694b051e98d84f758f6b20
